.btn-generic {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 10;
    -fx-border-color: #9984c1;
    -fx-border-radius: 10;
    -fx-background-insets: 0;
}
.btn-generic:hover {
    -fx-background-color: #e7e7e7;
    -fx-background-radius: 10;
    -fx-border-color: #8371a5;
    -fx-border-radius: 10;
    -fx-cursor: hand;
    -fx-background-insets: 0;
}
.btn-generic-left-pane {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 10;
    -fx-border-color: #54486b;
    -fx-border-radius: 10;
    -fx-background-insets: 0;
}
.btn-generic-left-pane:hover {
    -fx-background-color: #e7e7e7;
    -fx-background-radius: 10;
    -fx-border-color: #54486b;
    -fx-border-radius: 10;
    -fx-cursor: hand;
    -fx-background-insets: 0;
}
.ikonli-font-icon {
    -fx-icon-color: #373737;
}
#volume-slider:hover {
    -fx-cursor: hand;
}
#progr-bar {
    -fx-accent: #9984c1;
}
#progr-bar:hover {
    -fx-accent: #7e6d9e;
}
#background-pane {
    -fx-background-color: #ddd6ea;
}
#controls-pane {
    -fx-background-color: #efeef9;
}
#menu-pane {
    -fx-background-color: #9984c1;
}
#logo-elem-1 {
    -fx-background-color: #553399;
    -fx-background-radius: 10;
}
#logo-elem-2 {
    -fx-background-color: #e55200;
    -fx-background-radius: 10;
}
#logo-elem-3 {
    -fx-background-color: #6655cc;
    -fx-background-radius: 10;
}
#logo-elem-4 {
    -fx-background-color: #e5e5e5;
    -fx-background-radius: 10;
}
#song-name-pane {
    -fx-background-color: #ddd6ea;
}
.generic-label {
    -fx-padding: 3;
}
#lbl-file-path {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-color: #9984c1;
    -fx-border-radius: 10;
    -fx-padding: 0 5 0 5;
}
#song-card-pane {
    -fx-background-color: #efeef9;
    -fx-background-radius: 10;
    -fx-border-color: #9984c1;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}
#btn-card-edit {
    -fx-background-color: #beb5f7;
    -fx-background-radius: 4;
    -fx-border-color: #6655cc;
    -fx-border-radius: 4;
}
#btn-card-edit:hover {
    -fx-background-color: #d5d0f5;
    -fx-background-radius: 4;
    -fx-border-color: #6655cc;
    -fx-border-radius: 4;
    -fx-cursor: hand;
}
#btn-card-save {
    -fx-background-color: #fcb790;
    -fx-background-radius: 4;
    -fx-border-color: #e55200;
    -fx-border-radius: 4;
}
#btn-card-save:hover {
    -fx-background-color: #f7ceb7;
    -fx-background-radius: 4;
    -fx-border-color: #e55200;
    -fx-border-radius: 4;
    -fx-cursor: hand;
}
#btn-card-play {
    -fx-background-color: #b3fcc6;
    -fx-background-radius: 4;
    -fx-border-color: #1f8f3b;
    -fx-border-radius: 4;
}
#btn-card-play:hover {
    -fx-background-color: #d2fadc;
    -fx-background-radius: 4;
    -fx-border-color: #1f8f3b;
    -fx-border-radius: 4;
    -fx-cursor: hand;
}
.generic-input {
    -fx-background-color: #ffffff;
    -fx-background-radius: 7;
    -fx-border-color: #9984c1;
    -fx-border-radius: 7;
}
.songs-cards-background {
    -fx-background-color: #ddd6ea;
    -fx-background: #ddd6ea;
}
.star-generic:hover {
    -fx-cursor: hand;
}
#btn-card-discard {
    -fx-background-color: #f0c99e;
    -fx-background-radius: 4;
    -fx-border-color: #ed8e1c;
    -fx-border-radius: 4;
}
#btn-card-discard:hover {
    -fx-background-color: #fce2c5;
    -fx-background-radius: 4;
    -fx-border-color: #ed8e1c;
    -fx-border-radius: 4;
    -fx-cursor: hand;
}
#btn-card-playlist {
    -fx-background-color: #f5ffab;
    -fx-background-radius: 4;
    -fx-border-color: #a4ba00;
    -fx-border-radius: 4;
}
#btn-card-playlist:hover {
    -fx-background-color: #faffd9;
    -fx-background-radius: 4;
    -fx-border-color: #a4ba00;
    -fx-border-radius: 4;
    -fx-cursor: hand;
}
#list-view {
    -fx-selection-bar: #ddccff;
    -fx-font: 12px Wingdings;
    -fx-border-color: #54486b;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-focus-color: #54486b;
    -fx-faint-focus-color: transparent;
}
#playlist-text {
    -fx-border-color: #54486b;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-focus-color: #54486b;
    -fx-faint-focus-color: transparent;
}
#playlist-choice {
    -fx-selection-bar: #ddccff;
    -fx-border-color: #54486b;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-focus-color: #54486b;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}